@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100%;
  min-width: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url("/concrete-wall.png");
}

.anticon {
  display: block;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
