.checkmark[data-marked="true"]:after {
  border-color: currentColor;
}

.checkmark {
  position: relative;
  height: 16px;
  width: 16px;
}

.checkmark:after {
  content: "";
  position: absolute;
  width: 5px;
  height: 10px;
  border-color: transparent;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 2px;
  left: 5px;
}
